{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <!-- <a class="navbar-brand" href="{% url 'index' %}"> -->
    <a class="navbar-brand" href="/admin">
      <img src="{% static 'img/usbp.png' %}" class="logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li 
          {% if '/' == request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li 
          {% if 'planning' in request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'planning' %}">Planning</a>
        </li>
        <li
          {% if 'collection' in request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'collection' %}">Collection</a>
        </li>
        <li 
          {% if 'processing' in request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'upload' %}">Processing</a>
        </li>
        <li class="nav-item mr-1 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Analysis
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'viewmissions' %}">By Mission</a>
            <a class="dropdown-item" href="{% url 'dbsearch' %}">Query</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li
          {% if 'dissemination' in request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'dissemination' %}">Dissemination</a>
        </li>
        <li 
          {% if 'assets' in request.path %}
            class="nav-item active mr-1"
          {% else% }
            class="nav-item mr-1"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'assets' %}">Assets</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li 
          {% if 'dashboard' in request.path %}
            class="nav-item active mr-1"
          {% else % }
            class="nav-item mr-1"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'dashboard' %}">
             Welcome {{ user.username }} (Dashboard)</a>
          </li>
          <li class="nav-item mr-1">
            <a href="javascript:{document.getElementById('logout').submit()}"
            class="nav-link">
              <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>
        {% else %}
          <li 
          {% if 'login' in request.path %}
            class="nav-item active mr-1"
          {% else % }
            class="nav-item mr-1"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>