<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fas fa-phone"></i> (555)-555-5555
      </div>
      <div class="col-md-4">
        <i class="fas fa-broadcast-tower"></i> Law Enforcement Technical Collection
      </div>
      <div class="col-md-4">
        <i class="far fa-clock"></i> <iframe class="UTC-clock" src="http://free.timeanddate.com/clock/i6q0wvzo/n1440" 
            frameborder="0" width="114" height="18"></iframe> GMT
      </div>
      <!-- <div class="col-md-4">
        <i class="fas fa-envelope-open"></i> helpdesk@helpdesk.com
      </div> -->
    </div>
  </div>
</section>
