{% extends 'base.html' %}

{% load humanize %}
{% load render_table from django_tables2 %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="breadcrumb-item active"> Assets</li>
      </ol>
    </nav>
  </div>
</section>

<section id="showcase-inner" class="showcase-search text-white py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="{% url 'search' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="sr-only">Keywords</label>
              <input type="text" name="keywords" class="form-control" placeholder="Keyword (SDR, Scanner, etc)">
            </div>

            <div class="col-md-4 mb-3">
              <label class="sr-only">Part #</label>
              <input type="text" name="partnumber" class="form-control" placeholder="Part #">
            </div>

            <div class="col-md-4 mb-3">
                <label class="sr-only">Serial #</label>
                <input type="text" name="serialnumber" class="form-control" placeholder="Serial #">
            </div>
          </div>
          <!-- Form Row 2 -->
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label class="sr-only">Component</label>
              <select name="component" class="form-control">
                <option selected="true" disabled="disabled">Component (All)</option>
                <option>AMO</option>
                <option>USBP</option>
                <option>OFO</option>
                <option>Other</option>
              </select>
            </div>
          
            <div class="col-md-4 mb-3">
              <label class="sr-only">Sector</label>
              <select name="sector" class="form-control">
                <option selected="true" disabled="disabled">Sector (Any)</option>
                <option>BBT</option>
                <option>BLW</option>
                <option>BUN</option>
                <option>DRT</option>
                <option>DTM</option>
                <option>ELC</option>
                <option>EPT</option>
                <option>GFN</option>
                <option>HLT</option>
                <option>HVM</option>
                <option>LRT</option>
                <option>MIP</option>
                <option>NLL</option>
                <option>RGV</option>
                <option>RMY</option>
                <option>SDC</option>
                <option>SOG</option>
                <option>SPW</option>
                <option>SWB</option>
                <option>TCA</option>
                <option>YUM</option>
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <select name="cost" class="form-control">
                <option selected="true" disabled="disabled">Max Cost (All)</option>
                <option value="1000">$1000</option>
                <option value="10000">$10,000</option>
                <option value="100000">$100,000</option>
                <option value="500000">$500,000</option>
                <option value="1000000">$1,000,000</option>
              </select>
            </div>
          </div>
          <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% if table %}
  {% render_table table %}
{% endif %}

{% endblock %}