
<!-- <table class="table table-striped table-sm w-auto"> -->
<table id="dtBasicExample" class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
<!--       <th scope="col">id</th>
      <th scope="col">Partnumber</th>
      <th scope="col">Serialnumber</th>
      <th scope="col">Component</th>
      <th scope="col">Sector</th>
      <th scope="col">Date</th>
      <th scope="col">Cost</th> -->
      <th class="th-sm">id</th>
      <th class="th-sm">Partnumber</th>
      <th class="th-sm">Serialnumber</th>
      <th class="th-sm">Component</th>
      <th class="th-sm">Sector</th>
      <th class="th-sm">Date</th>
      <th class="th-sm">Cost</th>
    </tr>
  </thead>
  <tbody>
    {% if assets %}
      {% for asset in assets %}
        <tr>
            <th scope="row">{{ asset.id }}</th>
            <td>{{ asset.partnumber }}</td>
            <td>{{ asset.serialnumber }}</td>
            <td>{{ asset.cbp_component }}</td>
            <td>{{ asset.cbp_sector }}</td>
            <td>{{ asset.acquire_date }}</td>
            <td>${{ asset.cost | intcomma }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <div class="col-md-12">
        <p>No Listings Available</p>
      </div>
    {% endif%}
  </tbody>
  <tfoot>
    <tr>
      <th>id</th>
      <th>Partnumber</th>
      <th>Serialnumber</th>
      <th>Component</th>
      <th>Sector</th>
      <th>Date</th>
      <th>Cost</th>
    </tr>
  </tfoot>
</table>