<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Django Highcharts Example</title>
</head>
<body>
  <div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('container', {
      chart: {
          type: 'pie'
      },
      title: {
          text: 'Fake Pie Chart'
      },
      series: [{
          name: 'Radios',
          data:[{
              name: 'NXDN',
              y: 44
          }, {
              name: 'DMR',
              y:66
          }]
      }]
    })
  </script>
</body>
</html>