{% extends 'base.html' %}

{% block content %}

{% load static %}

<body>
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <div id="container"></div>
            <script src="{% static 'js/highcharts.src.js' %}"></script>
            <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
            <script>
              $.ajax({
                success: function ("{{ json_chart }}"") {
                  Highcharts.chart("container", "{{ json_chart }}");
                }
              });
            </script>
          </div>
          <div class="col-md-6">
              <h5 class="statsLabel">Query Result Statistics</h5>
          </div>
      </div>
  </div>
</body>
{% endblock %}
