{% extends 'base.html' %}

{% block content %}

{% load static %}
<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'nvd3/build/nv.d3.min.js' %}"></script>

{% load nvd3_tags %}
<head>
    {% include_chart_jscss %}
    {% load_chart charttype chartdata "piechart_container" %}
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- <h3>Pie goes here</h3> -->
                <h3>Transmissions by Radio Type</h3>
                {% include_container "piechart_container" 450 450 %}
            </div>
            <div class="col-md-6">
                <h3>Mission Statistics</h3>
            </div>
            <!-- <div class="col-md-3">
                <h3>View Mission Data</h3>
            </div> -->
        </div>
    </div>
</body>

{% endblock %}

