{% extends 'base.html' %}

{% block content %}


<!-- <section class="mt-1">
  <div id="processform" class="container">
    <h3 id="proctitle">Enter Mission Data For Upload</h3>
    <!-- Alerts -->
    <!-- {% include 'partials/_alerts.html' %}
    {% if form.errors %}
        <p>Please correct the error{{ form.errors|pluralize}} below.</p>
    {% endif %} -->

<section id="processform" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <!-- Alerts -->
        {% include 'partials/_alerts.html' %}
        <div class="card">
          <div class="card-header mb-1 bg-primary text-white">
            <h4>
              <i class="fas fa-upload"></i> Upload Mission Data
            </h4>
          </div>
          <form action="" method="post" enctype="multipart/form-data" novalidate>
              {% csrf_token %}
              <table class="proc-table m2 mx-auto">
                  {{ form.as_table }}
              </table>
              <!-- <input type="submit" value="Submit"> -->
              <input type="submit" value="Submit" class="btn btn-secondary btn-block my-2">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}